.heading1{
    font-weight: 900; 
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.2; 
    color: #ffffff;
}
.heading2{
     
    font-size: clamp(32px, 3vw, 50px);
    font-weight: bold; 
    line-height: 1.2; 
    color: #000000;
}
.subheading{
    font-size: 1.2rem; 
    font-size: clamp(16px, 3vw, 18px);
    color: #666;
}