:root{
    --font-family:"Matter", sans-serif;
}
body {
    font-family: 'Matter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading1{
    font-weight: 900; 
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.2; 
    color: #ffffff;
}
.heading2{
     
    font-size: clamp(32px, 3vw, 50px);
    font-weight: bold; 
    line-height: 1.2; 
    color: #000000;
}
.subheading{
    font-size: 1.2rem; 
    font-size: clamp(16px, 3vw, 18px);
    color: #666;
}
.v-app-bar {
    padding: 0 100px !important;
    /* background-color: #ffffff !important; */
    backdrop-filter: blur(10px) !important;
    border-bottom: 0.2px solid #e0e0e0 !important;
 }

@media (min-width: 1280px) {
    .v-app-bar {
        padding: 0 50px!important;
    }
    .v-container{
        padding: 0 100px!important;
    }
}

@media (min-width:1000px) {
    .v-app-bar {
        padding: 0 25px !important;
    }

    .v-container {
        padding: 0 12.5px !important;
    }
}
.flex-1{
    flex: 1
}
.v-btn{
    text-transform: none!important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

table {
    border-collapse: collapse !important;
    border: 1px solid #ddd !important;
    margin: 1.5em 0;
    font-size: 0.98em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    width: 100%;
}

table thead {
    background-color: #f5f5f5 !important;
    border-bottom: 2px solid #ddd !important;
}

table th,
table td {
    padding: 12px 15px !important;
    text-align: left !important;
}

table th {
    font-weight: bold !important;
}

table tr:nth-child(even) {
    background-color: #f9f9f9 !important;
}

blockquote {
    border-left: 4px solid #029dfd !important;
    padding: 12px 15px !important;
    margin: 1.0em 0 !important;
    background-color: #5fb7ff63 !important;
    font-style: italic !important;
    border-radius: 5px !important;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 8px;
    list-style: circle;
}

.gasobu{
    font-family: 'Century Gothic' !important;
}
.dark-section {
    color: white!important;
}